# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.cursor/*
.lingma/*
.qoderignore
docs/*
doc/svg/*
target/*

doc_old/*
src_bak/*
src_bak_sec/*
.trae/*
.agent/*

.shared/*

src/types/bindings/*

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
