@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
}

/* Custom styles can go here */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: oklch(var(--bc) / 0.2);
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: oklch(var(--bc) / 0.4);
}